################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/Frost/bin/Debug/netstandard2.1
/Frost/obj
/Harness/bin/Debug/netcoreapp3.0
/Harness/obj
/_Obj
/.gitattributes
/Directory.build.props
/FrostConsole/bin/Debug/netcoreapp3.0
/FrostForm/bin/Debug/netcoreapp3.0
/FrostUWP/bin/x86/Debug
/FrostElect/node_modules
/FrostConsoleClient/bin/Debug
/FrostDbClient/bin/Debug/netstandard2.1
/FrostConsole/obj
/FrostDbClient/obj
/FrostUWP/obj
/FrostCommon/bin/Debug/netstandard2.1
/FrostCommon/obj
/FrostForm/obj
/FrostForm/bin/Debug/netcoreapp3.1
/FrostConsole/bin/Debug/netcoreapp3.1
/Harness/bin/Debug/netcoreapp3.1
/FrostBlaze/obj
/FrostBlaze/bin/Debug/netstandard2.0
/FrostBlaze/bin/Debug/netstandard2.1
/FrostBlazeServer/bin/Debug/netcoreapp3.1
/FrostBlazeServer/obj/Debug/netcoreapp3.1
/FrostBlazeServer/obj
/TestHarnessForm/bin/Debug/netcoreapp3.1
/TestHarnessForm/obj/Debug/netcoreapp3.1
/TestHarnessForm/obj
/FrostUniversal/Assets
/FrostUniversal/bin/x86/Debug
/FrostWPF/bin/Debug/netcoreapp3.1
/FrostWPF/obj/Debug/netcoreapp3.1
/FrostWPF/obj
/FrostWPF/obj
