################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/Frost/bin/Debug/netstandard2.1
/Frost/obj
/Harness/bin/Debug/netcoreapp3.0
/Harness/obj
/_Obj
/.gitattributes
/Directory.build.props
/FrostConsole/bin/Debug/netcoreapp3.0
/FrostForm/bin/Debug/netcoreapp3.0
/FrostUWP/bin/x86/Debug
/FrostElect/node_modules
/FrostConsoleClient/bin/Debug
/FrostDbClient/bin/Debug/netstandard2.1
/FrostConsole/obj
/FrostDbClient/obj
/FrostUWP/obj
/FrostCommon/bin/Debug/netstandard2.1
/FrostCommon/obj
/FrostForm/obj
/FrostForm/bin/Debug/netcoreapp3.1
/FrostConsole/bin/Debug/netcoreapp3.1
/Harness/bin/Debug/netcoreapp3.1
/FrostBlaze/obj
/FrostBlaze/bin/Debug/netstandard2.0
/FrostBlaze/bin/Debug/netstandard2.1
/FrostBlazeServer/bin/Debug/netcoreapp3.1
/FrostBlazeServer/obj/Debug/netcoreapp3.1
/FrostBlazeServer/obj
/TestHarnessForm/bin/Debug/netcoreapp3.1
/TestHarnessForm/obj/Debug/netcoreapp3.1
/TestHarnessForm/obj
/FrostUniversal/Assets
/FrostUniversal/bin/x86/Debug
/FrostWPF/bin/Debug/netcoreapp3.1
/FrostWPF/obj/Debug/netcoreapp3.1
/FrostWPF/obj
/FrostWPF/obj
FrostConsole/log4net.config
FrostConsole/frostDb.log
FrostConsole/frost.config
FrostConsoleHarness/bin/Debug/netcoreapp3.1/FrostConsoleHarness
FrostConsoleHarness/bin/Debug/netcoreapp3.1/FrostConsoleHarness.deps.json
FrostConsoleHarness/bin/Debug/netcoreapp3.1/FrostConsoleHarness.dll
FrostConsoleHarness/bin/Debug/netcoreapp3.1/FrostConsoleHarness.pdb
FrostConsoleHarness/bin/Debug/netcoreapp3.1/FrostConsoleHarness.runtimeconfig.dev.json
FrostConsoleHarness/bin/Debug/netcoreapp3.1/FrostConsoleHarness.runtimeconfig.json
FrostConsoleHarness/obj/FrostConsoleHarness.csproj.nuget.dgspec.json
FrostConsoleHarness/obj/FrostConsoleHarness.csproj.nuget.g.targets
FrostConsoleHarness/obj/FrostConsoleHarness.csproj.nuget.g.props
FrostConsoleHarness/obj/project.assets.json
FrostConsoleHarness/obj/project.nuget.cache
FrostConsoleHarness/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FrostConsoleHarness/obj/Debug/netcoreapp3.1/FrostConsoleHarness
FrostConsoleHarness/obj/Debug/netcoreapp3.1/FrostConsoleHarness.AssemblyInfo.cs
FrostConsoleHarness/obj/Debug/netcoreapp3.1/FrostConsoleHarness.AssemblyInfoInputs.cache
FrostConsoleHarness/obj/Debug/netcoreapp3.1/FrostConsoleHarness.assets.cache
FrostConsoleHarness/obj/Debug/netcoreapp3.1/FrostConsoleHarness.csproj.CoreCompileInputs.cache
FrostConsoleHarness/obj/Debug/netcoreapp3.1/FrostConsoleHarness.csproj.FileListAbsolute.txt
FrostConsoleHarness/obj/Debug/netcoreapp3.1/FrostConsoleHarness.csprojAssemblyReference.cache
FrostConsoleHarness/obj/Debug/netcoreapp3.1/FrostConsoleHarness.dll
FrostConsoleHarness/obj/Debug/netcoreapp3.1/FrostConsoleHarness.genruntimeconfig.cache
FrostConsoleHarness/obj/Debug/netcoreapp3.1/FrostConsoleHarness.pdb
FrostConsoleHarness/obj/Debug/netcoreapp3.1/FrostConsoleHarness.csproj.CopyComplete
FrostConsoleHarness/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
FrostConsoleHarness/bin/Debug/netcoreapp3.1/log4net.config
FrostConsoleHarness/bin/Debug/netcoreapp3.1/log4net.dll
FrostConsoleHarness/bin/Debug/netcoreapp3.1/FrostDB.pdb
FrostConsoleHarness/bin/Debug/netcoreapp3.1/FrostDB.dll
FrostConsoleHarness/bin/Debug/netcoreapp3.1/FrostCommon.pdb
FrostConsoleHarness/bin/Debug/netcoreapp3.1/FrostCommon.dll
FrostConsoleHarness/bin/Debug/netcoreapp3.1/Antlr4.Runtime.Standard.dll
FrostConsoleHarness/frost.config
FrostConsoleHarness/frostDb.log
FrostConsoleHarness/bin/Debug/netcoreapp3.1/FrostConsoleHarness.exe
FrostConsoleHarness/obj/FrostConsoleHarness.csproj.nuget.cache
FrostConsoleHarness/obj/Debug/netcoreapp3.1/FrostConsoleHarness.exe
FrostConsoleHarness/bin/Debug/netcoreapp3.1/frostDb.log
FrostConsoleHarness/obj/project.packagespec.json
/FrostConsoleHarness/bin/Debug/netcoreapp3.1
/BTreeCore/bin/Debug/netstandard2.0
/BTreeCore/obj
/FrostConsoleHarness/obj/Debug/netcoreapp3.1
/FrostBlazeServer/bin/Debug/net5.0
/FrostConsole/bin/Debug/net5.0
/FrostConsoleHarness/bin/Debug/net5.0
