################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/Frost/bin/Debug/netstandard2.1
/Frost/obj
/Harness/bin/Debug/netcoreapp3.0
/Harness/obj
/_Obj
/.gitattributes
/Directory.build.props
/FrostConsole/bin/Debug/netcoreapp3.0
/FrostForm/bin/Debug/netcoreapp3.0
