@page "/contracts"

<h1>Contracts</h1>

<Instance @ref="instance"></Instance>

<h2>DatabaseName</h2>
<h2>Contract Description</h2>
<h2>Database Schema</h2>
<h2>Participant Overview</h2>
<h2>Participant Tables and Permissions (Read, Write, Modify, Delete)</h2>
<h2>Database Author Overview</h2>
<h2>Database Author Tables and Permissions (Read, Write, Modify, Delete)</h2>
<h2>Save Button</h2>

@code {
    private Instance instance;
}