@page "/createdatabase"

@using FrostDbClient

<h1>Create database</h1>

DatabaseName: <input type="text" id="databasename" @bind="databaseName"/>

<input type="button" @onclick="createdatabase" />

@code {
    private string databaseName = string.Empty;
    private void createdatabase()
    {
        string ipAddress = "127.0.0.1";
        int portNumber = 519;
        int localPort = 520;
        var client = new FrostClient(ipAddress, "127.0.0.1", portNumber, localPort);

        client.AddNewDatabase(databaseName);
    }
}