@inject Services.Client Item

<h2>Instance Information</h2>
<table class="table">
    <tr>
        <th>IP Address</th>
        <th>Console Port Number (Default 519)</th>
        <th>Studio Port Number (Default 525)</th>
    </tr>
    <tr>
        <td><input type="text" id="ipAddress" @bind="Item.IPAddress"/></td>
        <td><input type="text" id="consolePortNumber" @bind="Item.ConsolePortNumber"/></td>
        <td><input type="text" id="studioPortNumber" @bind="Item.StudioPortNumber"/></td>
    </tr>
</table>

@code {
    public Services.Client Client
    {
        get
        {
            if (Item is null)
            {
                Item = new Services.Client(Item.IPAddress, "127.0.0.1", Item.ConsolePortNumber, Item.StudioPortNumber);
                return Item;
            }
            else
            {
                return Item;
            }
        }
        set
        {
            Item = value;
        }
    }
}