@page "/participants"
@inject Services.Client FrostService
@using FrostCommon.ConsoleMessages
@using System.Diagnostics

<h1>Contracts</h1>

<Instance @ref="instance"></Instance>

<h1>Participants</h1>
<h2>Add Participant For @FrostService.SelectedDatabaseName</h2>
IP Address:<input type="text" id="participantIPAddress" @bind="ParticipantIPAddress"/>
DataPortNumber:<input type="text" id="participantPortNumber" @bind="ParticipantPortNumber"/>
<input type="button" @onclick="AddParticipant" value="Add Participant"/>
@code {
    private Instance instance;
    private string ParticipantIPAddress = string.Empty;
    private int ParticipantPortNumber = 0;

    private void AddParticipant()
    {
        FrostService.FrostClient.AddParticipantToDb(ParticipantIPAddress, ParticipantPortNumber.ToString(), FrostService.SelectedDatabaseName);
    }
}

